.active {
    color : red;
}

.breadcrumb_mod {
    width: 100%;
    padding: 0.5em 0 0.7em 2em;
}

.blue {
    color: #0275d8;
}

.blue:hover {
    text-decoration: none;
}

.body_width {
    width: 31.25em;
    margin: auto;
    margin-top: 0;
}

.bank_card_bloc {
    margin-top: 0.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.display_for_bank_card {
     /*display: flex;*/
     margin-left: 5em;
     margin-right: 5em;
}

.field_bank_card_large {
    margin-bottom: 0.5em;
}

.field_bank_card_medium {
    width: 50%;
    margin-bottom: 0.5em;
}

.border-secondary {
    border-width: 0.2em;
}

#input_bank_card {
    font-size: 0.7em;
    width: 13.5em;
    height: 2.9em;
    margin-left: 3.5em;
}

.add_bank_card_btn {
    font-size: 0.7em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #7cbf4f;
    color: white;
    height: 2.9em;
    margin-left: 0em;
}

.add_bank_card_btn:hover {
    color: white;
    background-color: #6aa644;
}

.bank_card_txt {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

.bkg_green {
    background-color: #7cbf4f;
    color: white;
}

.table_mod {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
}

.border_mod {
    border: 0.1em solid black;
}

td {
  height: 5em;
}

.nav_page {
    margin: auto;
    width: 50%;
}