/*.logo {
    background-image: linear-gradient(to right, #7cbf4f, #aabf4f);
    font-size: 1.20em;
    margin: 0.125em 0.25em 0 0.25em;
}

.logo_bloc {
    border: none;
    color: white;
    padding: 0.3em 1em;
    text-align: center;
    border-radius: 0.5em;
}*/
/*
.active {
    color: #0275d8;
}
*/
.breadcrumb_mod {
    width: 100%;
    padding: 0.5em 0 0.7em 2em;
}

.blue {
    color: #0275d8;
}

.blue:hover {
    text-decoration: none;
}

.body_width {
    width: 31.25em;
    margin: auto;
    margin-top: 0;
}

.add_connection_btn {
    text-align: center;
    padding: 0.25em 2em 0.25em 2em;
    font-size: 0.938em;
}

.send_money_bloc {
    margin-top: 0.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.display_for_money {
     display: flex;
     margin-left: 3.5em;
}

.border-secondary {
    border-width: 0.2em;
}

#inputConnection {
    font-size: 0.7em;
    width: 13.5em;
    height: 2.9em;
}

#amountInput {
    font-size: 0.7em;
    width: 8em;
    height: 2.9em;
    margin: 0 1em 0 1em;
}

.pay_btn {
    font-size: 0.7em;
    padding-left: 5em;
    padding-right: 5em;
    background-color: #7cbf4f;
    color: white;
    height: 2.9em;
}

.pay_btn:hover {
    color: white;
    background-color: #6aa644;
}

.transactions_txt {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

.bkg_green {
    background-color: #7cbf4f;
    color: white;
}

.table_mod {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
}

.border_mod {
    border: 0.1em solid black;
}

td {
  height: 5em;
}

.nav_page {
    margin: auto;
    width: 50%;
}