    <nav th:fragment="header">
        <div>
            <div class="d-inline-block">
                <p class="logo logo_bloc">Pay My Buddy</p>
            </div>
            <div class="d-inline-block float-end nav_mod">
                <ul class="nav">
                        <li class="nav-item" th:classappend="${home == 'home' ? 'activeNav' : ''}">
                        <a class="nav-link nav-item_mod" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" th:classappend="${transfer == 'transfer' ? 'activeNav' : ''}">
                        <a class="nav-link nav-item_mod" th:href="@{/transfer}">Transfer</a>
                    </li>
                    <li class="nav-item" th:classappend="${profile == 'profile' ? 'active' : ''}">
                        <a class="nav-link nav-item_mod" href="#">Profile</a>
                    </li>
                    <li class="nav-item" th:classappend="${connection == 'connection' ? 'activeNav' : ''}">
                        <a class="nav-link nav-item_mod" th:href="@{/connection}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item_mod" th:href="@{/logout}">Log off</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
