<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Transfer</title>
    <!--    <link rel="icon" href="icon_path" type="image/icon type">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{transaction.css}" />
    <link rel="stylesheet" th:href="@{header.css}" />
<!--    <link rel="stylesheet" href="/static/transfer.css" />-->
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light breadcrumb_mod">
            <li class="breadcrumb-item"><a class="blue text-decoration-none" th:href="@{/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" aria-disabled="true">Transfer</li>
        </ol>
    </nav>

    <div class="body_width">
        <p class="d-inline">Send Money</p>
        <a class="btn btn-primary d-inline float-end add_connection_btn"
           th:href="@{connection}" role="button">Add Connection</a>
    </div>

    <div class="bg-light send_money_bloc body_width">
        <form method="post" role="form" th:action="@{/transaction/save}" class="display_for_money">
<!--            <form method="post" role="form" class="display_for_money">-->
<!--            <select-->
<!--                    class="form-select rounded-0 border-secondary"-->
<!--                    id="inputConnection" th:field="*{connection.userId}">-->
<!--                <option selected>Select A Connection</option>-->
<!--                <option th:each="connection:${connectionemplist}"-->
<!--                        th:value="${connection.userId}" th:text="${connection.email}"></option>-->

<!--            </select>-->

<!--                <select th:field="*{countryId}">-->
<!--                    <option value=""> &#45;&#45; </option>-->
<!--                    <option th:each="country : ${countries}"-->
<!--                            th:value="${country.countryId}"-->
<!--                            th:utext="${country.countryName}"/>-->
<!--                </select>-->

<!--            <select th:field="*{coachId}">-->
<!--                <option th:each="user : ${users}"-->
<!--                        th:text="${user.name}"-->
<!--                        th:value="${user.id}">-->
<!--            </select>-->

            <input type="number" class="form-control rounded-0 border-secondary" id="amountInput"
                   placeholder="          0€">

            <button class="btn pay_btn" type="submit">Pay</button>
        </form>
    </div>

    <div class="body_width">
        <p class="transactions_txt">My Transactions</p>
    </div>

    <div class="body_width border_mod">
        <table class="table table-striped table_mod">
            <thead class="bkg_green">
            <tr>
                <td scope="col" class="align-middle">Connections</td>
                <td scope="col" class="align-middle">Descriptions</td>
                <td scope="col" class="align-middle">Amounts</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transfer:${transactionemplist}">
                <td class="align-middle" th:text="${transaction.connection}"></td>
                <td class="align-middle" th:text="${transaction.description}"></td>
                <td class="align-middle" th:text="${transaction.amount}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Navigation" class="body_width">
        <ul class="pagination nav_page">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>